MAIL_API_KEY=IYnVFqSC8XhjvUYBaqkWf5ho
MAIL_API_URL=https://mail.beznet.org

ADMIN_PASS=1234
API_USER=beznet
API_KEY='eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoiYmV6bmV0IiwiZW1haWwiOiJiZXpuZXQyMkBnbWFpbC5jb20iLCJpYXQiOjE2OTIwMzgwMzAsImV4cCI6MTY5OTgxNDAzMH0.xFzezuIJaG1wvHc61K176kTWg-1rRsLXb5WOnyupy-w'

AUTH_SECRET=Q!6HLp@B5wD24Pbq*LNd!%S4&H%ly7bt
DATABASE_URL="postgresql://cavelms:1414{bruno}@localhost:5406/cavelms?schema=api"